@import '../../assets/colors';
@import '../../assets/measures';

nav {
    margin-left: auto;
    padding: $paddingSmall;
    color: inherit;
    a {
        color: $textColor;
    }
    div {
        height: 2px;
        background-color: $primaryColor;
        width: 0%;
        transition: width 0.2s, background-color 0.5s;
        margin: $marginNone auto;
    }
    div .active-link {
        width: 100%;
    }
}
