@import '../../assets/colors';
@import '../../assets/measures';
@import '../../assets/styles';
nav.top {
    background-color: $white;
    position : -webkit-sticky;
    position : fixed;
    top : 0;
    z-index: $zIndexMedium;
    transform : scale($scaleNormal);
    @include css3-compatible(transition, all 0.3s);
    box-shadow : $boxShadowNone boxShadowSmall boxShadowMedium boxShadowNone $whiteBoxShadow;
}
nav.scroll {
    background-color : $transparent;
    position : relative;
    top : 0;
    box-shadow : none;
    transform : scale($scaleBiggerSmall);
    @include css3-compatible(transition, all 0.3s);
}