@import '../../assets/colors';
@import '../../assets/styles';
@import '../../assets/measures';

.service-intro-title {
    color: $primaryColor;
    font-size: $textSmallMedium;
    font-weight: bold;
    text-align:center;
}
.service-intro-description {
    color: $textColor;
    font-size: $textLarge;
    text-align:center;
}
.service-intro-container {
    color: transparent;
    margin: $marginMedium;
    padding: $paddingSmall;
}