//Color for each project
$primaryColor: #5641BC;
$lightPrimaryColor: #7058cf;
$secondaryColor: #bc8941;
$thirdColor: #5DD8F4;
//Background for this project
$backgroundWhite: #ffffff;
$backgroundLightGrey: #fcfcfc;
//for all
$white: #ffffff;
$softRed: #EC644B;
$lightGray: #F2F2F2;
$gray: #727272;
$sharl: #24252A;
$black: #000000;
$ming: #336e7b;
$sunglo: #f2c4c4;
$mango: #F9DD71;
$blue: #1DBEF0;
$tree: #68c3a3;
$green: #89E0B3;
$jaffa: #f9690e;
$rose: #d24d57;
$darkBlue: #3A539B;
$red: #cf000f;
$spray: #81cfe0;
$smoke: #dadfe1;
$fountain: #5c97bf;
$carrot: #e67e22;
$emberland: #2ecc71;
$neph: #27ae60;
$humming: #c5eff7;
$greensea: #16a085;
$loadingBackground: #b3e5fc;
$seperator: #F1F1F1;
$lemon: #f7ca18;
$lightGreen: #7befb2;
$mediumGreen: #4ecdc4;
$darkGreen: #3fc380;