$textSmall: 1em;
$textSmallMedium: 1.25em;
$textMedium: 1.5em;
$textLarge: 2em;
$textHuge: 3.4em;
$borderNone: 0px;
$borderSmall: 6px;
$borderMedium: 12px;
$borderLarge: 18px;
$borderHuge: 24px;
$paddingNone: 0px;
$paddingSmall: 6px;
$paddingMedium: 12px;
$paddingLarge: 18px;
$paddingHuge: 40px;
$marginNone: 0px;
$marginSmall: 6px;
$marginMedium: 12px;
$marginLarge: 18px;
$marginHuge: 36px;
$boxShadowNone: 0px;
$boxShadowSmall: 6px;
$boxShadowMedium: 12px;
$boxShadowLarge: 18px;
$boxShadowHuge: 24px;
$zIndexNone: 0;
$zIndexMedium: 500;
$zIndexLarge: 1000;
$zIndexHuge: 9999;
$scaleNormal: 1;
$scaleBiggerSmall: 1.05;
$scaleBiggerMedium: 1.25;
$scalSmallerMedium: 0.75;
$cardImageHeightSmall: 4rem;
$cardImageHeightMedium: 8rem;
$cardImageHeightLarge: 12rem;
$cardImageWidthSmall: 4rem;
$cardImageWidthMedium: 8rem;
$cardImageWidthLarge: 12rem;
$fontWeightNone: 0;
$fontWeightSmall: 200;
$fontWeightMedium: 400;
$fontWeightLarge: 600;