$textSmall: 1em;
$textSmallMedium: 1.25em;
$textMedium: 1.5em;
$textLarge: 2em;
$borderNone: 0px;
$borderSmall: 6px;
$borderMedium: 12px;
$borderLarge: 18px;
$borderHuge: 24px;
$paddingNone: 0px;
$paddingSmall: 6px;
$paddingMedium: 12px;
$paddingLarge: 18px;
$paddingHuge: 24px;
$boxShadowNone: 0px;
$boxShadowSmall: 6px;
$boxShadowMedium: 12px;
$boxShadowLarge: 18px;
$boxShadowHuge: 24px;
