@import "./assets/colors";
@import "./assets/measures";

.test {
    background-color: $primaryColor;
    height: 500px;
    width: 100px;
}

.btn.btn-primary  {  
    background-color: $primaryColor;
    color: $white;
    border: $borderNone;
    font-size: $textSmall;
    box-shadow: $boxShadowNone $boxShadowSmall boxShadowMedium boxShadowNone $lightPrimaryColor;
    &:hover{
      box-shadow: none;
    }
    &:active{
      box-shadow: none;
    }
    &:active{
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }
}