
  .nav-auto-drop {
    background-color: #ffffff;
    position: fixed;
    top: -300px;
    width: 100%;
    height: 80px;
    z-index: 1000;
    transition: top 300ms; /* Transition effect when sliding down (and up) */
    box-shadow: 0 4px 14px 0 #b9b8b8;
  } 
  
  .nav {
    background-color: transparent;
    position: relative; /* Make it stick/fixed */
    top: 0px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    color: #141414;
  }
  
  .nav-item {
    margin-left: auto;
    padding: 0.75rem;
    color: inherit;
  }
  
  .nav-item .nav-item-link {
    color: #1E3548;
  }
  
  .nav-item .nav-item-underline {
    height: 2px;
      background-color: #5641BC;
      width: 0%;
      transition: width 0.2s, background-color 0.5s;
    margin: 0 auto;
  }
  
  .nav-item.active-link .nav-item-underline{
    width: 100%;
  }
  .nav-item.active-link .nav-item-link{
    color:#5641BC;
  }
  
  .nav-item:hover {
    color: #5641BC;
    cursor: pointer;
  }
  .nav-item:hover .nav-item-underline{
    color: #005686;
    cursor: pointer;
  }
  
  .nav-item:active .nav-item-underline {
    transition: none;
    width: 0%;
      background-color: rgba(255,255,255,0.76);
  }
  
  
  .nav-logo:hover {
    cursor: pointer;
  }
  
  .nav-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(29, 53, 72)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
  }
  .overlay.active {
    display: block;
    opacity: 1;
  }
  
  .sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    /* top layer */
    z-index: 9999;
    transition: all 0.2s;
  }
  .wrapper {
    display: block;
  }
  /* .nav .nav-content {
    max-width: 900px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  } */
  
  
  .section-dark {
    background: #f9f9f9;
  }
  .section-white2dark{
    background: linear-gradient(to bottom, white 50%, #f9f9f9 50%);
  }
  .section-grey {
    background: #FCFCFC;
    color: #1E3548;
  }
  .section-white {
    background: #ffffff;
    color: #1E3548;
  }
  .section-white-intro {
    background-image: url("/src/images/background-blue-3.jpg");
    color: #1E3548;
    width: 100vw;
    height: 600px;
  }
  .section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  @media screen and (max-width: 768px) {
    span.introduction-medium-text {
      color: #39393b;
      font-size: 2em;
      text-align: center;
    }
  }
  .introduction-big-text {
    color: #39393b;
    font-size: 5em;
  }
  .introduction-medium-text {
    color: #39393b;
    font-size: 3.5em;
  }
  .introduction-mb-text {
    color: #39393b;
    font-size: 5em;
  }
  .introduction-small-text {
    color: #39393b;
    font-size: 1em;
    text-align:center;
  }
  .introduction-very-small-text {
    color: #39393b;
    font-size: 0.25em;
    text-align:center;
  }
  .section-introduction {
    background-image: url("https://source.unsplash.com/BtbjCFUvBXs/1920x1080");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-service {
    border-color: #efefef; 
    /* border-radius: 5%; */
    /* box-shadow: 0 2px 6px 0 #f9f9f9; */
    padding: 50px;
  }
  .card-service:hover {
    border-color: #f9f9f9; 
    /* border-radius: 5%; */
    padding: 50px;
    box-shadow: 3px 3px 3px 3px #bebebe;
    transition: box-shadow 0.1s;
  }
  
  
  .service-big-text {
    color: #39393b;
    font-size: 2em;
    text-align:center;
  }
  .service-sm-text {
    color: #5641BC;
    font-weight: 400;
    font-size: 1.3em;
    text-align:center;
  }
  .service-small-text {
    color: #414141;
    font-size: 1em;
    text-align:center;
  }
  .service-intro-small-text {
    color: #5641BC;
    font-size: 1.2em;
    font-weight: bold;
    text-align:center;
  }
  .whyus-overlay {
      /* position: absolute; */
      width: 100vw;
      height: 100%;
      z-index: 3;
    background-image: url("/src/images/background-purple-3.png");
      background-repeat: no-repeat;
    background-size: cover;
  }
  .whyus-small-text {
    color: #39393b;
    font-size: 1.2em;
    font-weight: bold;
    text-align:center;
  }
  .whyus-small-text.active-tab {
    color: #5641BC;
    transition: all 0.2s;
  }
  .whyus-small-text:hover {
    color: #5641BC;
    font-size: 1.2em;
    font-weight: bold;
    text-align:center;
    cursor: pointer;
  }
  .whyus-small-text:active {
    color: #5641BC;
    font-size: 1.2em;
    font-weight: bold;
    text-align:center;
  }
  .whyus-sm-text {
    color: #5641BC;
    font-weight: 400;
    font-size: 1.3em;
    text-align:center;
  }
  .whyus-medium-text {
    color: #39393b;
    font-size: 1.5em;
    text-align:center;
  }
  .whyus-intro-small-text {
    color: #5641BC;
    font-weight: 400;
    font-size: 1.3em;
    font-weight: bold;
    text-align:left;
  }
  .whyus-big-text {
    color: #39393b;
    font-size: 2em;
    text-align:left;
  }
  .media-body {
    margin-top: 10px;
  }
  /* .arrow:hover {
    border-color: white; 
    transform: rotate(90deg);
    transition: transform 1000ms;
  } */
  
  .team-text {
    color: #1E3548;
    font-size: 2em;
    text-align:center;
    padding: 4px;
  }
  
  .blog-very-small-text {
    color: #39393b;
    font-size: 0.75em;
  }
  .blog-small-text {
    color: #39393b;
    font-size: 1em;
  }
  .blog-big-text {
    color: #5641BC;
    font-size: 2em;
    text-align: center;
  }
  .slick-slide div{
    display: flex; 
  }
  .contact-form {
    border-radius: 25px;
    display: inline-block;
    margin-left: 2px;
  }
  
  .contact-form .email-form{
    display: flex;
    padding: 5px;
  }
  
  .contact-form:hover {
    transition: none;
    background: white;
  }
  
  .contact-form:active{
    transition: none;
    background: white;
  }
  
  .contact-form-input-email {
    border: none;
    border-color: white;
    background-color: white;
    transition:none;
  }
  .contact-form-input-email:hover {
    border: none;
    border-color: white;
    background-color: white;
    transition:none;
  }
  .contact-form-input-email:active {
    border: none;
    border-color: white;
    background-color: white;
    transition:none;
  }
  .contact-form-input-email:focus {
    border: none;
    border-color: white;
    background-color: white;
    transition:none;
    box-shadow: none;
  }
  .email-button.btn.btn-primary {
    background-color: #EDCC37;
    color: #000000;
    font-size: 1em;
    border: 0px;
  }
  
  .email-button.btn.btn-primary:active {
    background-color: #EDCC37;
    border: 0px;
    box-shadow: none;
  }
  .email-button.btn.btn-primary:focus {
    background-color: #EDCC37;
    border: 0px;
    box-shadow: none;
  }
  .email-button.btn.btn-primary:active:focus {
    background-color: #EDCC37;
    border: 0px;
    box-shadow: none;
  }
  
  .video-button.btn.btn-primary {
    background-color: #5935E8;
    border: 0px;
    font-size: 1em;
    box-shadow: 0 4px 14px 0 #A08CEE;
  }
  
  .video-button.btn.btn-primary:active {
    background-color: #5935E8;
    border: 0px;
    box-shadow: none;
  }
  .video-button.btn.btn-primary:focus {
    background-color: #5935E8;
    border: 0px;
    box-shadow: none;
  }
  .video-button.btn.btn-primary:active:focus {
    background-color: #5935E8;
    border: 0px;
    box-shadow: none;
  }